*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--spring-green);
    font-size: 320%;
    animation: fadeIn 5s;
}
.head_2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--spring-green);
    font-size: 220%;
    animation: fadeIn 5s;
}
body{
    background-color: black;
}
:root {
    --spring-green: #00ff7f;
    --dark-spring-green: #177245;
    --may-green: #5B9E48;
    --bud-green: #7CBB5D;
    --medium-spring-bud: #C9DC87;
    --secondary-bg: rgb(37, 37, 37);
}
/* Nav */
#navBar{
    display: flex;
    justify-content: end;
    background-color: black;
    padding: 30px;
    position: sticky;
    top: 0px;
    z-index: 10;

}
.toggler{
    cursor: pointer;
    visibility: hidden;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

#link-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.nav-link:hover{
    color: var(--bud-green);
    text-shadow: 0px 0px 10px var(--bud-green);
}


/* Hero */
#profile-pic{
    display: flex;
    justify-content: center;
}
#profile-pic img{
    border-radius: 50%;
    animation: fadeIn_2 5s;
}
#hero{
    display: flex;
    justify-content: center;
}
@keyframes fadeIn {
    0%{opacity: 0;
    transform: translateX(-30px);}
}
@keyframes fadeIn_2 {
    0%{opacity: 0;}
}
#description{
    text-align: left;
    color: rgba(255, 255, 255, 0.719);
    width: 70%;
    padding: 20px;   
}


/* Skills */
#skill-container {
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-bg);
    cursor: pointer;
}

.bar {
    position: relative;
    height: 10px;
    width: 95%;
    border-radius: 10px;
    background-color: #cadc8758;
}

/* Skills */
#html, #css, #js, #c, #cpp {
    position: absolute;
    width: 0%; /* Initially set to 0 */
    height: 10px;
    border-radius: 10px;
    background-color: var(--bud-green);
    transition: width 0.9s ease-in-out;
}

/* Active class to trigger animation */
.skill-active #html { width: 95%; }
.skill-active #css { width: 97%; }
.skill-active #js { width: 25%; }
.skill-active #c { width: 70%; }
.skill-active #cpp { width: 70%; }

/* Mobile */
@media (max-width: 768px) {
    .toggler{
        visibility: visible;
    }
    #hero {
        display: block;
    }
    #description {
        text-align: center;
        padding: 0px;
        transform: translateX(25%);
    }
    #navBar {
        transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        height: 10px;
        overflow: hidden;
        justify-content: space-between;
    }
    #link-container {
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .nav-expanded {
        height: 200px !important;
    }
}

/* Education */
#education{
    padding: 20px;
}
#education li{
    margin-bottom: 10px;
}
/* Social */
.social{
    padding: 20px;
}
.social-media{
    text-decoration: none;
    transition: 0.3s;
}
.social-media:hover{
    color: var(--spring-green);
    text-shadow: 0px 0px 5px var(--spring-green);
}
/* --------------------------------------------------------------------------------------- */
/* Projects */
.web-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title{
    width: 100px;
    position: absolute;
    color: black;
    font-weight: bold;
    left: 0px;
    background-color: white;
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    transition: 0.3s ease-in-out;
}
.web:hover .title{
    width: 200px;
    background-color: var(--dark-spring-green);
    color: white;
}
.web{
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    aspect-ratio: 16/9;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 5px white;
    background-color: var(--secondary-bg);
}
.web-img{
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.btn{
    font-weight: bold;
    background-color: var(--dark-spring-green);
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
    position: absolute;
    bottom: 5px;
    transition: 0.3s;
    box-sizing: border-box;
    border: solid 2px var(--dark-spring-green);
}
.btn:hover{
    box-shadow: 0px 0px 5px var(--spring-green);
    color: black;
    background-color: #00ff807c;
}
.live{
    right: 5px;
}
.git{
    left: 5px;
}

.graphics-container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
.design{
    width: 400px;
    border-radius: 10px;
}
